body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    height: 415px;
}

label {
    display: block;
    margin-bottom: 8px;
}

input {
    width: 90%;
    padding: 8px;
    margin-bottom: 16px;
}

.btn{
    font-size: 15px;
    background-color: #4caf50;
    color: #fff;
    padding: 8px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}   
.btn:hover {
    background-color: #45a049;
}
#reg:hover {
    background-color: rgb(60, 60, 224);
}
img{
    height: 15px;
}
#reg{
    margin-left: 52%;
    background-color: rgb(87, 87, 212);
}
a{
    text-decoration: none;
    color: #f4f4f4;
}